
java/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
java/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
java/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
java/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
java/.metadata/.plugins/org.eclipse.core.resources/0.snap
java/.metadata/.lock
java/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
java/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
java/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
java/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
java/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
java/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
java/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
java/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
java/.metadata/.plugins/org.eclipse.ui.intro/introstate
java/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
java/.metadata/.log
java/.metadata/version.ini
java/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
java/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
java/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
*.prefs
java/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
java/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
java/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
java/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
java/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
*.xml
java/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
